[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "3cd0a0ca7583c28bfe404ca22b3d4db5dad6435f", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
PipelineInfrastructure = {editable = true, ref = "2390ad8af87edca38d71ea5666a8758a0c4c124f", git = "https://www.github.com/AfricasVoices/PipelineInfrastructure"}
pytz = "*"
python-dateutil = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.6"
